input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#pizzatime {
  font-family: "Bubblegum Sans";
  color: tan;
  font-size: 1.5rem;
}

.upload {
  color: white;
  font-family: "Futura";
}

.upload:hover {
  opacity: 0.7;
}

#location:before {
  font-family: "FontAwesome";
  content: "\f689";
  font-size: 1.5rem;
}

#close:before {
  font-family: "FontAwesome";
  content: "\f00d";
}

#trash:before {
  font-family: "FontAwesome";
  content: "\f1f8";
  font-size: 1.5rem;
}

#decrease:before {
  font-family: "FontAwesome";
  content: "\f053";
}

#increase:before {
  font-family: "FontAwesome";
  content: "\f054";
}

#price:before {
  font-family: "FontAwesome";
  content: "\f155";
}


.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1.2rem; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 0.3rem 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.4rem;
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.4rem;
}

.bubble {
  position: relative;
  border-color: black;
  border-width: 0.1rem;
  cursor: pointer;
  height: 1.5rem;
  width: 2.5rem;
  background: black;
  color: white;
  border-radius: 0.4rem;
}

.pointer {
  position: relative;
  top: 1.7rem;
  left: 0.45rem;
  border-color: black;
  border-width: 0.1rem;
  background: black;
  width: 0.7rem;
  height: 0.7rem;
  transform: rotate(45deg);
  display: relative;
}

.active {
  background: red;
}


/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
  --square-size: 0.5rem;
  --square-gap: 0.1rem;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  display: inline-grid;
  grid-template-areas: "empty months"
                       "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns: calc(var(--week-width) * 4) /* Jan */
                         calc(var(--week-width) * 4) /* Feb */
                         calc(var(--week-width) * 4) /* Mar */
                         calc(var(--week-width) * 5) /* Apr */
                         calc(var(--week-width) * 4) /* May */
                         calc(var(--week-width) * 4) /* Jun */
                         calc(var(--week-width) * 5) /* Jul */
                         calc(var(--week-width) * 4) /* Aug */
                         calc(var(--week-width) * 4) /* Sep */
                         calc(var(--week-width) * 5) /* Oct */
                         calc(var(--week-width) * 4) /* Nov */
                         calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}


/* Other styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
}

.graph {
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #ebedf0;
}

.squares li[data-level="1"] {
  background-color: #c6e48b;
}

.squares li[data-level="2"] {
  background-color: #7bc96f;
}

.squares li[data-level="3"] {
  background-color: #196127;
}
