#pizzatime {
  font-family: "Pacifico";
  color: tan;
  font-size: 1.5rem;
}

.upload {
  background-color: tan;
  color: gold;
  font-family: "Futura";
}

.upload:hover {
  opacity: 0.7;
}

#location:before {
  font-family: "FontAwesome";
  content: "\f689";
  font-size: 1.5rem;
}

#trash:before {
  font-family: "FontAwesome";
  content: "\f1f8";
  font-size: 1.5rem;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 1.2rem; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 0.3rem 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.4rem;
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white; /* white background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 0.4rem;
}
